.ftools {
  width: 100%;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
}
.ftools .container {
  margin-bottom: 10px;
  margin-right: 20px;
}
.control {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: text-top;
}
.control label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.6em;
  font-weight: bold;
}
.control input {
  width: 40px;
}
.control .info {
  font-family: monospace;
  font-size: 0.7em;
}
.error input {
  border: 1px solid #f00;
  outline: none;
}
.error label {
  color: #f00;
}