.app-logo {
  animation: app-logo-spin infinite 60s linear;
  height: 60px;
  vertical-align: middle;
}
.app-header {
  background-color: #222;
  height: 100px;
  color: white;
  line-height: 100px;
}
.app-header a {
  float: right;
  margin-right: 24px;
}
.app-body {
  margin: 0 20px 20px 20px;
}
.app-title {
  margin: 10px 0 5px;
  color: #a0522d;
  font-size: 0.8em;
  font-weight: bold;
}
.cp {
  margin-top: 8px;
}
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
