.fcanvas {
  cursor: move;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  outline: none;
}
.fcanvas:focus {
  box-shadow: 0 0 4px #88D5E9;
  border: 1px solid #88D5E9;
}
